html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed lightgrey;
    padding: 1em;
}

header h1,
header p {
    margin: 0;
    line-height: 1.4em;
}

kbd {
    font-size: 14px;
    font-family: "courier new", monospace;
    background: lightgrey;
    padding: 1px 3px;
    border-radius: 3px;
}

#options {
    width: 300px;

    & #selector {
        margin-bottom: 1em;
    }

    & #selector,
    & .option {
        width: 100%;
    }
}

[aria-hidden="true"] {
    display: none;
    visibility: hidden;
}

[aria-hidden="false"] {
    visibility: visible;
}

p[aria-hidden="false"] {
    display: block;
}

.option[aria-hidden="false"] {
    display: flex;
}

#slider {
    gap: 3px;
    justify-items: baseline;

    input[type="range"] {
        flex-grow: 1;
    }

    & > * {
        line-height: 1em;
        margin: 0;
    }
}

header #value {
    font-variant-numeric: proportional-nums;
}

#chart {
    display: flex;
    padding-bottom: 1em;
    overflow-x: scroll;

    h3 {
        margin: 0;
        padding: 0.5em 0 0;
    }
}

.rounds,
.match-inner {
    display: flex;
    flex-direction: column;
}

.rounds {
    gap: 1em;
    padding: 0 1em 1em 1.4em;
    border-left: 2px dashed lightgrey;

    &:first-child {
        border-left-width: 0;
    }
}

.matches {
    display: grid;
    gap: var(--gap);
    grid-template: repeat(var(--grid), 1fr);
    height: 100%;
    min-width: var(--width);
}

.match {
    --vheight: 50%;
    --border-color: grey;
    --round-id: calc(var(--curr-round) + 1);
    --inner-width: calc(var(--width) + 4px + var(--gap));
    --inner-height: calc(
        ((var(--height) + var(--gap)) * var(--size, 1)) - var(--gap)
    );
    --line-width: 2px;
    box-sizing: border-box;
    margin-bottom: calc((var(--height) + var(--gap)) * var(--span, 0));
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    isolation: isolate;
    height: var(--inner-height);

    &:not(.final-round):not([aria-hidden="true"]):before,
    &:not(.final-round):not([aria-hidden="true"]):after {
        --middle: calc(50% - (var(--height) / 2));
        content: "";
        position: absolute;
    }

    &:before {
        --size: 5px;
        --half: calc(var(--size) / 2);
        width: var(--size);
        top: calc(50% - var(--half));
        right: calc(var(--half) * -1);
        background-color: var(--line-color, grey);
        border-radius: 50%;
        height: var(--size);
        z-index: 2;
    }

    &:after {
        --target: calc(var(--next-round) - var(--curr-round));
        --outer-width: calc(
            var(--inner-width) + ((var(--gap) - 6.3px) * var(--target))
        );
        --hline: calc(
            var(--outer-width) * var(--target) - (var(--outer-width) / 2)
        );
        --vline: calc(var(--vheight) + (var(--gap) * var(--target)));
        width: var(--hline);
        height: var(--vline);
        right: calc(var(--hline) * -1);
        border: 0 solid var(--line-color, grey);
        border-right-width: var(--line-width);
        border-radius: 4px;
    }

    &[aria-disabled="true"] {
        --border-color: lightgrey;
        --line-color: lightgrey;
    }

    &[data-next-side="blue"] {
        &.proceed {
            --line-color: blue;
        }

        &:after {
            top: calc(50% - 1px);
            border-top-width: var(--line-width);
        }
    }

    &[data-next-side="red"] {
        &.proceed {
            --line-color: red;
        }

        &:after {
            bottom: calc(50% - 1px);
            border-bottom-width: var(--line-width);
        }
    }

    &.odd {
        --inner-gap: calc((var(--height) + var(--gap)) / 2);
        margin-bottom: var(--inner-gap);
        height: calc(var(--inner-height) - var(--inner-gap));

        &[data-next-side="blue"]:after {
            --vheight: 70%;
        }
    }
}

.match-inner {
    background-color: white;
    margin: var(--margin) 0;
    width: var(--width);
    gap: 3px;
}

.match-title {
    position: absolute;
    padding: 4px 3px 2px;
    margin: 0;
    width: 1em;
    line-height: 1em;
    border: 2px solid var(--border-color);
    text-align: center;
    font-variant-numeric: proportional-nums;
    background-color: white;
    border-radius: 50%;
    left: -11px;
    top: calc(50% - 13px);
}

.party {
    display: flex;
    border: 2px solid var(--border-color);
    border-radius: 0.4rem;
    padding: 0.2rem 0.4em 0.2rem 1.2em;
    list-style: none;
    line-height: 1em;
    justify-content: space-between;
    align-items: center;
    outline: 2px solid white;
    cursor: pointer;

    &[data-side="blue"] .party-name {
        color: blue;
    }

    &[data-side="red"] .party-name {
        color: red;
    }

    &.loser span {
        text-decoration: line-through;
        color: grey !important;
    }
}

.match.completed .party {
    cursor: not-allowed;
}

.party-label {
    display: flex;
    flex-direction: column;
}

.party-check {
    margin: 0;
}

.party-name,
.party-continent {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.2em;
}

.party-continent {
    font-size: 0.8rem;
    color: grey;
}
