@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

#login {
    background-image: url("../img/screen.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    font-family: "Poppins", sans-serif;
}
